<section class="contact-list">
    <div class="numbers">
        07426352559 <hr>
        0732679484 <hr>
      
    </div>
    <div class="mails">
        samizzoventures@gmail.com <hr>
        info@samizzoventures.com <hr>
    </div>
    <div class="social-media-links">
        <span class="fab fa-facebook-f">    Like Our Page</span> <hr>
        <span class="fabi far-twitter"><a href="https://twitter.com/njugunahm?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @njugunahm</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span><hr>
        <span class="fab fa-instagram"> Follow us on Instagram</span><hr>
    </div>
</section>

<h4 class="copyright">All rights reserved | Samizzo Ventures &copy;{{year}}</h4>